torch>=2.1.1
torchaudio>=2.1.2
faster-whisper @ git+https://github.com/SYSTRAN/faster-whisper.git@1b24f284c9b39bcdf47233d7ae507abaea7a98c8
transformers
pandas
setuptools>=65
nltk

# for compatibility with numpy 2.0.0 and pyannote.audio 3.3.2
pyannote.audio>=3.3.2
