torch>=2.1.1
torchaudio>=2.1.2
faster-whisper @ git+https://github.com/SYSTRAN/faster-whisper.git@2386843fd7f9734e2597b4f36ce263bbc57886ea
transformers
pandas
setuptools>=65
nltk

# for compatibility with numpy 2.0.0 and pyannote.audio 3.3.2
pyannote.audio>=3.3.2
