torch>=2.1.1
torchaudio>=2.1.2
faster-whisper @ git+https://github.com/SYSTRAN/faster-whisper.git@08f6900217a6196051e312d5307621c4d444225a
transformers
pandas
setuptools>=65
nltk

# for compatibility with numpy 2.0.0 and pyannote.audio 3.3.2
pyannote.audio>=3.3.2
